<div class="category-custom">
    <div class="category-custom__container">
        <div class="category-custom__content">
            <h3 class="category-custom__title">Máscaras para cabelo</h3>
            <div class="breadcrumb">
                <ul class="ul--0 breadcrumb__list">
                    <li class="li--0 breadcrumb__item breadcrumb__home first odd">
                        <a href="/" title="Ir para Home" class="a--0 breadcrumb__link"><span>Home</span></a>
                    </li>
                    <li class="li--0 breadcrumb__sep"><span>/</span></li>
                    <li class="li--0 breadcrumb__item breadcrumb__category71 last even">
                        <span class="a--0 breadcrumb__last"><span>Máscara para Cabelo</span></span>    
                    </li>
                </ul>
            </div>
            <div class="category-custom__descriptions">
                O pó descolorante para cabelo é usado para atingir a cor ideal do cabelo. Descolorindo os fios naturais ou já tingidos para que o tom final do cabelo fique mais adequado.
            </div>
            <div class="category-custom__labels">
                <a href="#">Como Escolher o Melhor</a> |
                <a href="#">Shampoo Profissional</a> |
                <a href="#">Marcas de Shampoo</a> | 
                <a href="#">Variedade de Shampoo</a> |  
                <a href="#">Informações Importantes</a>
            </div>
            <div class="category-custom__actions">
                <a href="#"><svg class="ico z-more"><use xlink:href="#z-more" /></svg><span>Leia mais</span></a>
            </div>
        </div>
        <div class="category-custom__image">
            <img src="@img(mascaras-para-cabelo)" alt="Máscaras para cabelo">
        </div>
    </div>
    <div class="products-carousel">
        <div class="products-carousel__container">
            <div class="products-carousel__main">
                <div class="products-carousel__list">
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                    <div class="products-carousel__item">
                        <a href="#">
                            <img src="https://fakeimg.pl/75/" alt="">
                            <span>Máscara Capilar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>