<div class="products-carousel">
    <div class="products-carousel__container">
        <div class="products-carousel__header">
            <h3 class="products-carousel__title">Doce Beleza - Especialista em Cabelos</h3>
        </div>
        <div class="products-carousel__main">
            <div class="products-carousel__list">
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
                <div class="products-carousel__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/75/" alt="">
                        <span>Máscara Capilar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>