<div class="fixed-menu">
    <div class="fixed-menu__container">
        <button type="button" class="fixed-menu__nav">
            <svg class="ico z-menu"><use xlink:href="#z-menu" /></svg>
        </button>
        <button type="button" class="fixed-menu__cart">
            <svg class="ico z-cart"><use xlink:href="#z-cart" /></svg>
            <span></span>
        </button>
        <button type="button" class="fixed-menu__wishlist">
            <svg class="ico z-wishlist"><use xlink:href="#z-wishlist" /></svg>
        </button>
        <button type="button" class="fixed-menu__user">
            <svg class="ico z-user"><use xlink:href="#z-user" /></svg>
        </button>
    </div>
</div>