<div class="promote">
    <div class="promote__container">
        <div class="promote__list">
            <div class="promote__item">
                <figure class="promote__figure">
                    <a href=""><img src="https://fakeimg.pl/215x300/" alt=""></a>
                    <legend>Reconstrução capilar - cabelos danificados</legend>
                </figure>
                <div class="promote__label">
                    <a href="">Kit de Reconstrução Capilar Máscara de Reconstrução Loreal Absolut Repair Senscience Inner Restore</a>
                </div>
            </div>
            <div class="promote__item">
                <figure class="promote__figure">
                    <a href=""><img src="https://fakeimg.pl/215x300/" alt=""></a>
                    <legend>Reconstrução capilar - cabelos danificados</legend>
                </figure>
                <div class="promote__label">
                    <a href="">Kit de Reconstrução Capilar Máscara de Reconstrução Loreal Absolut Repair Senscience Inner Restore</a>
                </div>
            </div>
            <div class="promote__item">
                <figure class="promote__figure">
                    <a href=""><img src="https://fakeimg.pl/215x300/" alt=""></a>
                    <legend>Reconstrução capilar - cabelos danificados</legend>
                </figure>
                <div class="promote__label">
                    <a href="">Kit de Reconstrução Capilar Máscara de Reconstrução Loreal Absolut Repair Senscience Inner Restore</a>
                </div>
            </div>
            <div class="promote__item">
                <figure class="promote__figure">
                    <a href=""><img src="https://fakeimg.pl/215x300/" alt=""></a>
                    <legend>Reconstrução capilar - cabelos danificados</legend>
                </figure>
                <div class="promote__label">
                    <a href="">Kit de Reconstrução Capilar Máscara de Reconstrução Loreal Absolut Repair Senscience Inner Restore</a>
                </div>
            </div>
            <div class="promote__item">
                <figure class="promote__figure">
                    <a href=""><img src="https://fakeimg.pl/215x300/" alt=""></a>
                    <legend>Reconstrução capilar - cabelos danificados</legend>
                </figure>
                <div class="promote__label">
                    <a href="">Kit de Reconstrução Capilar Máscara de Reconstrução Loreal Absolut Repair Senscience Inner Restore</a>
                </div>
            </div>
        </div>
    </div>
</div>