<div class="rulers">
    <svg class="ico z-truck"><use xlink:href="#z-truck" /></svg>
    <span>Frete Grátis SP-Capital e ABC acima de R$ 79,00</span>
</div>

<div class="rulers">
    <svg class="ico z-card"><use xlink:href="#z-card" /></svg>
    <span>12x no cartão. Sem parcela mínima.</span>
</div>

<div class="rulers">
    <svg class="ico z-gift"><use xlink:href="#z-gift" /></svg>
    <span>Compre e ganhe brindes. Confira no carrinho.</span>
</div>

<div class="rulers">
    <svg class="ico z-boleto"><use xlink:href="#z-boleto" /></svg>
    <span>5% de desconto no boleto, acima de R$ 99,00</span>
</div>