<div class="about">
    <div class="about__container">
        <div class="about__image">
            <img src="@img(dona-beleza)" alt="Dona Beleza" />
        </div>
        <div class="about__content">
            <h3 class="about__title">Doce Beleza, 12 anos entregando o melhor para o seu cabelos</h3>
            <p>Doce Beleza, 12 anos entregando o melhor para o seu cabelos</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a pulvinar odio. Nunc rhoncus non diam faucibus fermentum. Nunc tristique enim rhoncus, efficitur odio vel, accumsan metus. Duis sagittis elementum nisl, ac fermentum quam vehicula id. Morbi cursus pharetra ipsum sit amet interdum. Nullam condimentum nunc turpis, malesuada ullamcorper ante varius elementum. Vestibulum interdum velit mi. In hac habitasse platea dictumst. Cras interdum aliquet vestibulum.</p>
        </div>
    </div>
</div>