<div class="stores">
    <div class="stores__container">
        <div class="stores__header">
            <h3 class="stores__title">Lojas Especiais</h3>
            <a href="#" class="stores__more">veja mais</a>
        </div>
        <div class="stores__main">
            <div class="stores__list">
                <div class="stores__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/180/" alt="">
                    </a>
                </div>
                <div class="stores__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/180/" alt="">
                    </a>
                </div>
                <div class="stores__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/180/" alt="">
                    </a>
                </div>
                <div class="stores__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/180/" alt="">
                    </a>
                </div>
                <div class="stores__item">
                    <a href="#">
                        <img src="https://fakeimg.pl/180/" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>