<div class="carousel">
    @relacionados
</div>

<div class="collateral__block">
    <div class="collateral__box">
        <h3 class="collateral__title">Descrição do Produto</h3>
        <div class="collateral__content">@descricao</div>
        <h3 class="collateral__title">Modo de Usar: </h3>
        <div class="collateral__content">@descricao</div>
    </div>
    <div class="collateral__box">
        <h3 class="collateral__title">Informações Adicionais</h3>
        <div class="collateral__content">@descricao</div>
        <h3 class="collateral__title">Sobre a Marca:</h3>
        <div class="collateral__content">@descricao</div>
    </div>
</div>
@avaliacoes(form)

<div class="carousel">
    @quemviu
</div>