/* Footer */
.footer-container
    margin: 4rem 0 0
    padding: 1rem 0
    background: linear-gradient(color1_bg, color1_bg_hover)

.footer
    color: color1_font
    font-size: .8rem

.footer .newsletter
    margin-top: -1rem
    padding: 1rem 0
    border-bottom: 1px solid rgba(0, 0, 0, 0)
    background: rgba(0, 0, 0, .2)
    box-shadow: -980px 0 0 rgba(0, 0, 0, .2), 980px 0 0 rgba(0, 0, 0, .2)
    font-size: 1rem

.footer .newsletter .title
    color: color1_font
    text-align: center

.footer .flex .title
    color: color1_font
    font-size: 1rem
    opacity: .5

.footer .std
    color: color1_font

.footer .tele
    font-size: 2rem

.footer .email
    padding-top: .5rem
    font-weight: 600

.footer a
    color: color1_font

.footer a:hover
    color: color1_font_hover

.footer .myaccount__header a
    margin-left: auto
    background: #fff !important
    box-shadow: 0 0 0 4px #fff

.footer .myaccount__header a:hover
    box-shadow: 0 0 0 4px #fff, 0 1rem 1rem -.5rem rgba(0, 0, 0, .3)

.footer .myaccount__content
    display: none !important

.footer .socials
    padding-top: 1rem