.breadcrumb
    @extend $container

    &__sep
        margin: 0 2px

        span
            display: none

        &:before
            content: '>'
            font-size: 12px

    &__item a, &__last
        color: #707070
        font-weight: regular
        font-size: 12px

    &__home
        .breadcrumb__link:before
            display: flex
            justify-content: center
            align-items: center
            margin-right: 4px
            color: #707070
            line-height: 1