.category-custom
    @extend $container

    .breadcrumb
        max-width: 100%

    .std &
        &__title
            margin: 0
            text-transform: uppercase
            font-weight: light
            font-size: 36px
            line-height: 1.3

        &__descriptions
            font-weight: regular
            font-size: 14px
            line-height: 1.5

    &__labels
        padding: 10px 0

        &, a
            color: #15B0DE
            font-weight: regular
            font-size: 14px
            line-height: 1.3

    &__actions
        a
            display: flex
            justify-content: center
            align-items: center
            width: 110px
            height: 35px
            border-radius: 35px
            background: #15B0DE
            color: #fff
            font-weight: regular
            font-size: 14px

            &:before
                margin-right: 4px
                content: '+'
                font-weight: semibold
                font-size: 24px

    .products-carousel
        margin-top: 20px
        padding: 20px
        border: solid 1px #EFEFEF

    @media (max-width: 992px)
        &__image
            margin: 20px 0 0

            img
                min-width: 100%
                object-fit: cover

        &__title
            font-size: 18px

    @media (min-width: 993px)
        &__container
            display: flex

        &__content
            flex: 1
            min-width: 0

        &__image
            flex: 0 1 600px
            margin-left: 40px