.location
    color: gray
    font-weight: regular
    font-size: 12px

    &__header
        display: flex
        justify-content: center
        align-items: center

    .z-map
        margin-right: 5px
        width: 12px
        height: 16px
        color: color2_bg

    .z-edit
        margin-left: 5px
        width: 12px
        height: 12px
        color: gray

    @media (max-width: 992px)
        display: none
