.loginout
    .header &
        margin-left: 40px
        text-align: left

    .z-user
        margin-right: 5px
        width: 24px
        height: 24px
        color: color2_bg

    &__link, &__box
        display: flex
        color: gray
        text-decoration: underline
        font-weight: regular
        font-size: 12px
        line-height: 1.2