.mymenu
    .footer &
        .a--0
            color: #ccc
            text-decoration: underline
            font-weight: regular
            font-size: 14px

#footer-acesso-rapido
    .ul--0
        column-count: 2