.pays
    &__svg
        height: 15px

    &__item
        display: flex
        justify-content: center
        align-items: center
        margin: 5px !important
        padding: 0
        width: 55px
        height: 35px
        border-radius: 5px
        background: #CACACA