.products-carousel
    &__title
        padding: 10px 0 20px
        text-align: center
        font-weight: light
        font-size: 18px

    &__list
        display: flex
        justify-content: space-between

    &__item
        width: 75px
        text-align: center
        font-weight: regular
        font-size: 14px

        span
            display: block
            margin-top: 10px

        .owl-carousel &
            margin: 0 auto

    .owl-buttons
        display: block

    .categories
        background: none

        .a--0
            color: color1_bg
            text-align: center
            text-transform: none
            font-weight: regular
            font-size: 14px

        .owl-prev, .owl-next
            top: 50%
            transform: translateY(-50%)
