.products-carousel
    &__title
        padding: 10px 0 20px
        text-align: center
        font-weight: light
        font-size: 18px

    &__list
        display: flex
        justify-content: space-between

    &__item
        width: 75px
        text-align: center
        font-weight: regular
        font-size: 14px

        span
            display: block
            margin-top: 10px

        .owl-carousel &
            margin: 0 auto

    .owl-buttons
        display: block