
.rulers
    display: flex
    align-items: center
    font-size: 14px

    .ico
        margin-right: 5px
        width: 16px
        height: 16px
        color: color2_bg

    .customer-account-index &
        font-size: 13px