.whatsapp
    a
        display: flex
        justify-content: center
        align-items: center
        width: 50px
        height: 50px
        color: color2_bg

    .ico
        width: 32px
        height: 32px

    span
        display: none

    @media (min-width: 993px)
        display: none

    @media (max-width: 992px)
        .scrolling &
            display: none