
.cart
    &__links .btn-checkout
        padding: 0 30px
        height: 45px
        border-radius: 45px
        font-weight: medium
        font-size: 18px

    &-table .btn-empty
        height: 45px
        border-radius: 45px

.checkout-cart-index
    .page-title h1
        font-weight: 400
        font-size: 1.5rem

.cart__page-title
    .btn-checkout
        padding: 0 30px
        height: 45px
        border-radius: 45px
        background: #3dd010
        font-weight: medium
        font-size: 18px

        @media (max-width: 992px)
            margin-top: 20px

    @media (min-width: 993px)
        display: flex
        justify-content: space-between
        align-items: center