.opc-registered-users button, .opc .buttons-set button:not(.btn--outline)
    border-radius: 45px
    text-transform: uppercase

.opc
    input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=mounth], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color]
        border: solid 1px #343434
        border-radius: 45px
        box-shadow: none

.osc-onepage .section
    box-shadow: 0 0 0 1px #343434

.step-title h2
    color: #343434

.step-title .number, .allow.active .step-title .number
    background: #343434