.product-collateral
    .carousel
        .title
            color: #00A3D3
            font-weight: regular
            font-size: 18px

.collateral
    &__title
        margin-bottom: 20px
        color: #00A3D3
        font-weight: regular
        font-size: 18px

    &__content
        &, .std
            font-size: 14px

        + .collateral__title
            padding-top: 20px

    &__box:last-child
        div:nth-child(2)
            h2
                display: none

            table
                tbody
                    td, th
                        padding: 5px 0
                        border: 0
                        font-size: 14px

                    tr
                        display: block

                    td
                        padding-left: 6px

                    th
                        &:after
                            content: ':'

    @media (min-width: 993px)
        &__block
            display: flex
            align-items: stretch
            margin: 20px -20px

        &__box
            padding: 0 20px

            &:first-child
                box-shadow: 1px 0 0 #ccc
