.opc
    .head__contact
        display: none

    .wrapper
        padding: 0

    .header
        justify-content: space-between
        padding: 10px 0

        &-container
            margin: 0 0 20px
            background: #fff
