.checkout-cart-index
    .breadcrumb
        @extend $container

.osc-onepage
    .footer
        h3
            margin-bottom: 15px
            color: #15B0DE
            text-transform: uppercase
            font-weight: light
            font-size: 23px
